body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: var(--xx-bg-header);
}

a {
    text-decoration: none;
    color: currentColor;
}

.xx-heigt-vh{
    height: calc(100vh - 66px);
}

#xx-main-left {
    background-image: url(/img/sidebar-bg.png);
    background-color: var(--xx-bg-main-left);
}

#xx-main-top {
    background-color: var(--xx-bg-main-top);
}

.xx-bg-badge{
    background-color: #165bba;
}

#xx-search {
    background-color: #e5e5e5;
}

#xx-search>* {
    background: transparent;
}

/* RESPONSIVITA */

@media screen and (min-width:576px) {
    #xx-main-top .offcanvas {
        width: 100%;
    }
}

@media screen and (min-width:992px) {
    #xx-main-top .offcanvas {
        width: 50%;
    }
}

/* /RESPONSIVITA */