body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

a{
    text-decoration: none;
    color: currentColor;
}

#xx-main-left{
    background-image: url(/img/sidebar-bg.png);
    background-color: var(--xx-bg-main-left);
    background-position-y: 40px;
}

#xx-main-top{
    background-color: var(--xx-bg-main-top);
}

